@import url('/css/base.css');

body {
	margin: 0 0;
	padding: 0 0;
	overflow-x: hidden;

	#logs-container {
		display: grid;
		grid-template-columns: 550px 1fr;
		height: 95vh;
		gap: 0;

		#logs-sidebar {
			padding: 0.5rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			overflow-y: auto;

			#logs-header {
				gap: 0.75rem;
				font-weight: bold;
				margin-bottom: 1rem;
				padding-bottom: 0.25rem;
				font-size: small;
			}

			label {
				font-size: 0.85rem;
			}

			select {
				width: 100%;

				font-size: 0.9rem;
				cursor: pointer;
			}

			select:hover {
				border-color: #666;
			}

			#file-list {
				flex: 1;
				min-height: 200px;
				font-family: monospace;

				option[data-successful="1"]::before {
					content: '● ';
					color: green;
				}

				option[data-successful="0"]::before {
					content: '● ';
					color: red;
				}

				option[data-successful=""]::before {
					content: '● ';
					color: gray;
				}

				option::after {
					content: attr(data-filesize);
					float: right;
					color: gray;
					margin-left: 8px;
					margin-right: 1px;
				}
			}
		}

		main {
			overflow: hidden;
			display: flex;
			flex-direction: column;

			#log-content {}

			.log-placeholder {
				font-style: italic;
				text-align: center;
				margin-top: 2rem;
			}

			.log-error {
				color: #ff6b6b;
				font-weight: bold;
				text-align: center;
				margin-top: 2rem;
			}

			.log-file-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0.75rem 1rem;
				margin-bottom: 1rem;
			}

			.log-file-size {
				color: #444;
				font-size: 0.85rem;
			}

			.log-content {
				height: 100%;
				overflow-y: auto;
				padding: 1rem;
				font-family: monospace;
				font-size: 0.85rem;
				line-height: 1.5;
				word-wrap: break-word;
				overflow-x: auto;
				margin: 0;
			}
		}
	}


}