SetEnv  3D1_DB_SERVER   	
SetEnv  3D1_DB_USERNAME 	
SetEnv  3D1_DB_PASSWORD 	
SetEnv  3D1_DB_NAME     	

SetEnv	3D1_B2_ACCOUNTID	
SetEnv	3D1_B2_KEYID		
SetEnv	3D1_B2_KEYNAME		
SetEnv	3D1_B2_APPKEY		
SetEnv	3D1_B2_BUCKETID		
SetEnv	3D1_B2_BUCKETNAME	
