# Database
SetEnv  3D1_DB_SERVER   	
SetEnv  3D1_DB_USERNAME 	
SetEnv  3D1_DB_PASSWORD 	
SetEnv  3D1_DB_NAME     	

# Backblaze B2
SetEnv	3D1_B2_ACCOUNTID	
SetEnv	3D1_B2_KEYID		
SetEnv	3D1_B2_KEYNAME		
SetEnv	3D1_B2_APPKEY		
SetEnv	3D1_B2_BUCKETID		
SetEnv	3D1_B2_BUCKETNAME	

# CDN URLs
SetEnv	3D1_CDN		
SetEnv	3D1_UNCACHED

# Request login
<If true >
	AuthType Basic
	AuthName "Import Area"
	AuthUserFile /var/www/vhosts/h577143.web300.dogado.net/sites/3d1/.htpasswd
	Require valid-user
</If>