<!DOCTYPE html>
<html>
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        
    </head>
    <body>
        <div id="assetList">
            <select v-model="creator" >
                <option value="ambientCG">ambientCG</option>
                <option value="polyhaven">Poly Haven</option>
            </select>
            <input v-model.lazy="tags" placeholder="tags">
            <button v-on:click="previousPage()">Previous</button>
            <button v-on:click="nextPage()">Next</button>
            <div class="assets">
              <div v-for="asset in assets">
                <a v-bind:href="asset.url">
                    <p>
                        {{asset.assetName}}
                    </p>    
                </a>
              </div>
            </div>
        </div>
        <script src="./src/browse.js"></script>
    </body>
</html>