<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <style>
			@import url("./style/bulma.min.css");
			@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
			.thumbnail{
				transition: transform ease-in-out 0.1s,opacity ease-in-out .2s;
			}
			.thumbnail:hover{
				transform: scale(1.05);
			}
			.logo{
				font-family: 'Red Hat Display', sans-serif;
			}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="has-navbar-fixed-bottom">
        <div id="assetList" >
			<header class="is-flex is-justify-content-center">
				<div class="logo has-text-centered is-size-1 mx-0 my-6">
					<span style="color:#CB6CE6;">3D</span><span>assets</span><span style="color:#7ED957;">.</span><span>one</span>
				</div>
				<nav class="navbar has-background-white-ter box is-bordered is-fixed-bottom">
					<div class="is-flex is-size-7 navbar-start">
						<div class="select mx-1 is-multiple">
							<select multiple title="Crtl-click to select multiple options." size="4"  v-model="creator" >
								<option selected="selected" value="">Any creator</option>
								<option value="ambientcg">ambientCG</option>
								<option value="polyhaven">Poly Haven</option>
								<option value="cgbookcase">CG Bookcase</option>
								<option value="sharetextures">Share Textures</option>
								<option value="3dtextures">3D Textures</option>
								<option value="texturecan">TextureCan</option>
								<option value="noemotionhdrs">NoEmotion HDRs</option>
							</select>
						</div>
						<div class="select mx-1 is-multiple">
							<select multiple title="Ctrl-click to select multiple options." size="4" v-model="type" >
								<option selected="selected" value="">Any type</option>
								<option value="hdri">HDRI</option>
								<option value="pbr-material">PBR Material</option>
								<option value="3d-model">3D Model</option>
							</select>
						</div>
						<div class="select mx-1 is-multiple">
							<select multiple title="Ctrl-click to select multiple options." size="4" v-model="license" >
								<option selected="selected" value="">Any license</option>
								<option value="cc-0">Creative Commons CC0</option>
								<option value="cc-by-nd">Creative Commons BY ND</option>
							</select>
						</div>
						<div class="menu">
							<input class="input mx-1 mb-1" id="tagsBar" size="15" v-model.lazy="tags" @change="resetOffset();" placeholder="Query">
							<div class="select mx-1 mt-1">
								<select v-model="order" >
									<option selected="selected" value="latest">Latest</option>
									<option value="oldest">Oldest</option>
									<option value="random">Random</option>
								</select>
							</div>
							Currently listing {{totalNumberOfAssets}} assets.
						</div>
						
						
						
					</div>

					<div class="navbar-end is-flex is-hidden-touch is-justify-content-flex-end is-align-content-center" v-if="currentlyHoveringAsset != null">
						<div v-if="currentlyHoveringAsset != null">
							<div class=" is-flex is-align-items-center is-justify-content-flex-end">
								<span class="is-size-5">{{currentlyHoveringAsset.assetName}}</span>
								<div class="image is-24x24 m-2">
									<img v-bind:alt="currentlyHoveringAsset.creator.CreatorName" v-bind:title="currentlyHoveringAsset.creator.CreatorName" loading="lazy" width="32" height="32" v-bind:src="'https://cdn3.struffelproductions.com/file/3D-Assets-One/creator-icon/64-PNG/' + currentlyHoveringAsset.creator.creatorId + '.png'">
								</div>
							</div>
							<div class="has-text-right is-size-7 mx-2 mb-2">
								{{currentlyHoveringAsset.license.licenseName}}
							</div>
							<div class="has-text-right">
								<span class=" is-white mx-1 tag" v-for="tag in currentlyHoveringAsset.tags.slice(0,5)">{{tag}}</span>
								<span class=" is-white mx-1 tag" v-if="currentlyHoveringAsset.tags.length > 5">...</span>
							</div>
						</div>
					</div>
				</nav>

			</header>
			
            
            <main class="assets is-flex is-justify-content-center is-flex-wrap-wrap">
				<div class="" v-if="totalNumberOfAssets < 1">No results for this query.</div>
            	<div v-for="asset in assetData.assets" :key="asset.assetId" >
                	<a style="z-index:99;" v-bind:href="asset.url" class="thumbnail box is-clipped is-bordered mx-1 my-1 " v-on:mouseover="setHoveringAssetData(asset.assetId)">
						<figure class="image is-128x128">
							<img class=" thumbnail256" style="opacity: 0%;" onload="this.style.opacity = '100%'" v-bind:alt="asset.assetName" width="256" height="256" loading="lazy" v-bind:src="'https://cdn3.struffelproductions.com/file/3D-Assets-One/thumbnail/256-JPG-FFFFFF/' + asset.assetId + '.jpg'">
						</figure>
					</a>
              	</div>
            </main>
			<div class="has-text-centered">
				<button class="mx-5 my-5 button is-large" v-if="this.assetData.assets.length < this.assetData.totalNumberOfAssets" v-on:click="nextPage()">Load more</button>
			</div>
			
        </div>
		<div style="min-height:150px;"></div>
        <script src="./src/browse.js"></script>
    </body>
</html>