<?xml version="1.0" encoding="UTF-8"?>
<phpunit displayDetailsOnTestsThatTriggerWarnings="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">

	<testsuites>
		<testsuite name="standard">
			<directory>tests/thumbnail/</directory>
			<directory>tests/misc/</directory>
			<directory>tests/fetch/</directory>
			<file>tests/creator/CreatorTest.php</file>
		</testsuite>
		<testsuite name="scraping">
			<file>tests/creator/CreatorLogicTest.php</file>
		</testsuite>
	</testsuites>

</phpunit>
