@import url('/css/base.css');

body {
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-areas: "nav main";
	margin: 0 0;
	padding: 0 0;
	overflow-x: hidden;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--asset-box-size), max-content));
	place-items: center;
	place-content: center;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	z-index: 1;

	#welcome-message {
		grid-column: 1/4;
		width: calc(var(--asset-box-size) * 3 - 50px);
		height: 100%;

		display: flex;
		align-items: center;
		flex-direction: column;

	}


	.asset-box {
		display: inline-block;
		transition: transform ease-in-out 0.1s, opacity ease-in-out .2s;
		width: var(--asset-box-size);
		height: var(--asset-box-size);
		border: 1px dashed #00000022;
		border-radius: 8px;
		background-color: white;

		position: relative;

		.asset-image {
			padding: 5px;
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}

		.asset-creator-image {
			position: absolute;
			top: 0;
			left: 0;
			background: rgb(255, 255, 255);
			border-radius: 10px;
		}

		.asset-name {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 2px;
			text-align: center;
			background: rgb(0, 0, 0);
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
			color: white;
			width: 100%;
			border-radius: 4px;
			font-size: 0.9em;
		}

		.asset-icons {
			position: absolute;
			top: 0;
			right: 0;
			padding: 2px;
			font-size: 0.75em;
			color: lightgray;
			filter: contrast(0.66) brightness(1.33);
		}

	}

	.only-hover {
		opacity: 0;
	}

	.asset-box:hover {

		.only-hover {
			opacity: 1;
		}

		transform: scale(1.025);
		z-index: 2;

		filter: drop-shadow(0px 0px 8px #00000080);
	}



	#asset-count-text {
		width: 100%;
		text-align: center;
		font-size: 1.1em;
		margin: 20px;
		grid-column: 1/-1;
	}

	.results-end-text {
		width: 100%;
		text-align: center;
		grid-column: 1/-1;
		margin: 20px;
	}
}

#asset-filters {
	grid-area: nav;
	z-index: 10;

	position: fixed;
	overflow-y: auto;

	width: 100%;
	max-width: 300px;
	height: 100%;

	background-color: white;

	filter: drop-shadow(0px 0px 10px #00000044);

	#asset-filters-form {
		filter: grayscale() contrast(1.1);
		display: flex;
		flex-direction: column;
		margin: 10px;

		.multi-select {
			overflow-y: auto;
			border: 1px solid slategray;
		}

		#multi-select-creator optgroup option::after {
			content: attr(data-count);
			float: right;
			color: gray;
			margin-left: 8px;
			margin-right: 1px;
		}

		.text-input {
			font-size: 1.05em;
		}

		.form-label {
			margin-top: 8px;
			margin-bottom: 2px;
		}



	}

}

input:focus,
textarea:focus,
select:focus,
a:focus {
	outline: none;
}