/*@import url('https://unpkg.com/fylgja/fylgja.css');*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

:root{
	--asset-box-size: 150px;
}

*{
	box-sizing: border-box;
}

body{
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-areas: 	"nav main";
	margin: 0 0;
	padding: 0 0;
	overflow-x: hidden;
}

header{
	grid-area: header;
	.logo{
		font-family: 'Red Hat Display', sans-serif;
		font-size: 2.5em;
		width:100%;
		text-align: center;
	}

	.navbar{
		display: flex;
		justify-content: center;
		align-items: center;

		.header-link{
			padding: 4px;
		}

	}
}

main{
	grid-area: main;
}

#asset-filters{
	grid-area: nav;
	z-index: 10;

	position:fixed;

	width: 100%;
	max-width: 300px;
	height: 100%;

	background-color: pink;

	#asset-filters-form{
		display: flex;
		flex-direction: column;
		margin: 10px;
	}
	
	.multi-select{
		
	}

}
