/*@import url('https://unpkg.com/fylgja/fylgja.css');*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

:root{
	--asset-box-size: 150px;
}

*{
	box-sizing: border-box;
}

body{
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: 150px auto;
	grid-template-areas: 	"nav header"
							"nav main";
	margin: 0 0;
	padding: 0 0;
	overflow-x: hidden;
}

header{
	grid-area: header;
	.logo{
		font-family: 'Red Hat Display', sans-serif;
		font-size: 4em;
		width:100%;
		text-align: center;
	}

	.navbar{
		display: flex;
		justify-content: center;
		align-items: center;

		.header-link{
			padding: 4px;
		}

	}
}

main{

	grid-area: main;

	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--asset-box-size), max-content));
	place-items: center;
	place-content: center;
	margin-left: 50px;
	margin-right: 50px;
	z-index: 1;

	.asset-box{
		display: inline-block;
		transition: transform ease-in-out 0.1s,opacity ease-in-out .2s;
		width:var(--asset-box-size);
		height: var(--asset-box-size);
		border: 1px solid black;
		background-color: white;

		position: relative;

		.asset-image{
			padding:5px;
			width: 100%;
			height: 100%;
		}

		.asset-creator-image{
			position:absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.asset-name{
			position:absolute;
			bottom: 0;
			right: 0;
			opacity: 0;
			padding:2px;
			text-align: right;
			background-color: palegreen;
			max-width: 80%;
		}

		.asset-quirks{
			position: absolute;
			bottom:0;
			left:0;
			padding: 2px;
			background-color: palegoldenrod;
		}

	}

	.asset-box:hover{
		transform: scale(1.05);
		z-index: 2;

		.asset-name{
			opacity: 1;
		}

		.asset-creator-image{
			opacity: 1;
		}
	}

	

	#asset-count-text{
		width: 100%;
		text-align: center;
		margin: 5px;
		grid-column: 1/-1;
	}

	.results-end-text{
		width: 100%;
		text-align: center;
		grid-column: 1/-1;
	}
}

#asset-filters{
	grid-area: nav;
	z-index: 10;

	position:fixed;

	width: 100%;
	max-width: 300px;
	height: 100%;

	background-color: pink;

	#asset-filters-form{
		display: flex;
		flex-direction: column;
		margin: 10px;
	}
	
	.multi-select{
		
	}

}
