/*@import url('https://unpkg.com/fylgja/fylgja.css');*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

header{

	.logo{
		font-family: 'Red Hat Display', sans-serif;
		font-size: 4em;
		width:100%;
		text-align: center;
	}

	.navbar{
		display: flex;
		justify-content: center;
		align-items: center;

		.header-link{
			padding: 4px;
		}

	}
}

main{

	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(192px, max-content));
	place-items: center;
	place-content: center;
	margin-left: 50px;
	margin-right: 50px;

	.asset-box{
		display: inline-block;
		transition: transform ease-in-out 0.1s,opacity ease-in-out .2s;
		width:192px;
		height: 192px;
		border: 1px solid black;

		.asset-image{
			
		}

	}

	.asset-box:hover{
		transform: scale(1.05);
	}

	#asset-count-text{
		width: 100%;
		text-align: center;
		margin: 5px;
		grid-column: 1/-1;
	}

	.results-end-text{
		width: 100%;
		text-align: center;
		grid-column: 1/-1;
	}
}

#asset-filters{
	position: fixed;
	bottom: 5px;
	right: 5px;

	#asset-filters-form{
		display: flex;
		flex-direction: column;
	}
	
	.multi-select{
		
	}

}