# Enable this in production to get auto-redirection to HTTPS.
#RewriteEngine On
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]