name: CI
on:
    push:
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Build & Test
        runs-on: ubuntu-latest
        steps:
            - name: Get latest code
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.4"

            - name: Run PHP Composer
              run: composer install --no-progress --prefer-dist
              working-directory: ./src

            - name: Run PHPStan
              run: vendor/bin/phpstan analyse cli include public --level=8
              working-directory: ./src

    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        needs: build
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        steps:
            - name: Get latest code
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.4"

            - name: Run PHP Composer
              run: composer install --no-progress --prefer-dist
              working-directory: ./src

            - name: Sync files
              uses: SamKirkland/FTP-Deploy-Action@4.1.0
              with:
                  server: ${{ vars.FTP_SERVER }}
                  username: ${{ vars.FTP_USER }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: ./src/
                  server-dir: /
                  exclude: |
                      **/.git*
                      **/.git*/**
                      **/node_modules/**
                      .htaccess
                      src/.htaccess
                      **/.env
