name: PHPStan Analysis
on:
    push:
        branches-ignore: [main]
    pull_request:

jobs:
    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            - name: Get latest code
              uses: actions/checkout@v2

            - name: Run PHP Composer
              uses: php-actions/composer@v6
              with:
                  args: -d ./src

            - name: Run PHPStan
              uses: php-actions/phpstan@v3
              with:
                  vendored_phpstan_path: ./src/vendor/bin/phpstan
                  path: ./src/cli ./src/include ./src/public
                  level: max
